"*":
  core:
    disabledPackages: [
      "linter"
      "linter-eslint"
    ]
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 8
  "exception-reporting":
    userId: "4f14a25e-8e25-5e91-6f69-af22ab42d28a"
  "linter-eslint":
    disableWhenNoEslintConfig: false
  welcome:
    showOnStartup: false
